Doctor: <%= @doctor.name %>  <br>
Specialty: <%= @doctor.specialty %> <br>
Doctorate Earned From: <%= @doctor.university %>  <br>
Hospital: <%= @doctor.hospital.name %> <br>

<div class="patients">
  <% @doctor.patients.each do |pt| %>
    <div id="pt-<%=pt.id%>">
      <%= pt.name %> <%= button_to "Remove Patient", doctor_patient_path(@doctor, pt), method: :delete, params:{doctor_id: @doctor.id, patient_id: pt.id} %> <br>
    </div>
  <% end %>
</div>